.partners{
  padding: 3rem 0;
  @include _768{
    padding: 5rem 0;
  }
  &__title {
    margin-bottom: 2.4rem;

    @include _992 {
      margin-bottom: 4rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__item {
    @include _1200{
      flex-basis: 25%;
    }
  }
}