.get {
  padding: 2rem 0;
  background: url("../img/get/get-bg.png") top right 35% no-repeat;
  background-size: cover;
  @include _768 {
    padding: 4rem 0;
  }
  @include _992 {
    padding: 6.6rem 0 9rem;
    background: url("../img/get/get-bg.png") top right 60% no-repeat;
    background-size: cover;
  }
  @include _1200 {
    max-width: 132.4rem;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 1.5rem;
    max-width: 25rem;
    font-weight: 800;
    font-size: 2.6rem;
    line-height: 120%;
    @include _768 {
      max-width: unset;
      margin-bottom: 4rem;
    }
    @include _992 {
      font-size: 6.2rem;
    }
  }
  &__list {
  }
  &__point {
    display: flex;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    @include _992 {
      font-size: 2.1rem;
      max-width: 56rem;
    }
    &:nth-child(1) {
      max-width: 25rem;
      @include _768 {
        max-width: 40rem;
      }
      @include _992 {
        max-width: 56rem;
      }
    }
    &::before {
      content: "";
      position: relative;
      display: block;
      margin-right: 1.5rem;
      min-width: 0.7rem;
      height: 0.7rem;
      background: #ff0040;
      top: 1rem;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
      @include _992 {
        margin-bottom: 3.3rem;
      }
    }
  }
}
