.synergy {
  padding: 3rem 0;

  @include _768 {
    padding: 5rem 0;
  }

  &::before {
    @include _992 {
      content: '';
      display: block;
      max-width: 132.4rem;
      margin: 0 auto;
      height: 0.2rem;
      background: #313131;
      position: relative;
      top: -5rem;
    }
  }

  &::after {
    @include _992 {
      content: '';
      display: block;
      max-width: 132.4rem;
      margin: 0 auto;
      height: 0.2rem;
      background: #313131;
      position: relative;
      top: -15rem;
    }

    @include _1200 {
      top: -12.5rem;
    }
  }

  &__title {
    margin-bottom: 2.4rem;

    @include _992 {
      margin-bottom: 4rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include _768 {
      align-items: center;
    }
  }

  &__description {
    flex-basis: 100%;
    margin-bottom: 2rem;

    @include _768 {
      order: 1;
      max-width: 43rem;
      flex-basis: 80%;
    }

    @include _992 {
      max-width: 60rem;
    }

    @include _1200 {
      max-width: 81rem;
    }

    &-text {
      font-size: 1.7rem;
      line-height: 2.4rem;

      @include _992 {
        font-size: 1.8rem;
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__counter {
    flex-basis: 50%;

    @include _768 {
      order: 3;
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
    }

    @include _992 {
      margin-top: 5.5rem;
    }

    &-item {
      @include _768 {
        flex-basis: 23%;
      }

      &:not(:last-child) {
        margin-bottom: 1.5rem;

        @include _768 {
          margin-bottom: unset;
        }
      }
    }

    &-figure {
      font-weight: 500;
      font-size: 4.4rem;
      line-height: 5.2rem;
    }

    &-text {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #8D8D8D;

      @include _992 {
        font-size: 1.8rem;
      }
    }
  }

  &__logo {
    flex-basis: 40%;
    margin-top: auto;
    position: relative;
    width: 11.8rem;
    height: 11.3rem;

    @include _576 {
      width: 15.5rem;
      height: 15rem;
    }

    @include _768 {
      order: 2;
      margin-top: unset;
    }

    @include _992 {
      flex-basis: 20%;
      width: 18rem;
      height: 17.5rem;
    }

    img {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: contain;
    }
  }
}